.main {
    background-image: url("../assets/cropback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; 
    padding: 20px; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.container{
    border: 1px solid black;
    margin-top: 3rem;
    border-radius: 10px;
    padding: 10px;
    width: 80vw;
    height: 78vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.span1{
    color: #ff66cc;
}
.span2{
    color: green;
}
.heading{
    font-size: 30px;
    text-align: center;
    padding: 0.5rem 1rem;
    color: purple;
    font-weight: bold;
}

.custombtn{
  display: flex;
  justify-content: center;
}
.custombtn button{
   padding: 8px;
}
.custombtn button:hover{
    background-color: orange;
    color: white;
}
.result
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
